<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Success!</h4>
  <p>Github has been successfully linked to Svennex. You can now configure builds for repositories of this Github Organization.</p>
</div>