<header class="bg-dark header text-white">
  <a class="header-brand mb-0 h1" href="/">
    <img class="ms-3" width="100" src="/website/logo.png">
  </a>
  <div class="header-nav">
    <a class="text-white nav-item nav-link" href="https://app.svennex.com/users/sign_up">Sign Up</a>
    <a class="text-white nav-item nav-link" href="https://app.svennex.com/users/sign_in">Sign In</a>
    <a class="text-white nav-item nav-link" href="https://www.svennex.com">About</a>
  </div>
</header>